<div class="main">
    <div class="wrapper">
        <nav class="navbar">
            <ul class="navbar__menu">
                <li><a href="">Services</a></li>
                <li><a href="">Process</a></li>
                <li><a href="">Clients</a></li>
                <li><a href="">Team</a></li>
            </ul>
    
            <div class="navbar__navigate">
                <a (click)="logout()">Log out</a>
            </div>
        </nav>
    
        <div class="content">
            <h1 class="content__title">Success starts with hardworking consultants</h1>
            <span class="content__body">Morbi leo tortor, fermentum sed orci vitae, tempor auctor turpis. Fusce bibendum accumsan fringilla. Nulla aliquam luctus sem, at posuere nibh lobortis et. Ut ac mollis risus, eu congue libero. Nulla vestibulum ultricies tortor at ultrices.</span>
        </div>
    </div>

</div>